<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dev.the_food_house">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />




    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_CONTAC" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Viet Feeder Restaurant"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Viet Feeder Restaurant" />
        <activity
            android:name=".Setting_Fragment"
            android:label="                   Cài đặt"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Setting_Fragment_Thanhtoan"
            android:label="                 Thanh toán"
            android:parentActivityName=".Setting_Fragment" />
        <activity
            android:name=".Setting_Fragment_Hotro"
            android:label="                   Hỗ trợ"
            android:parentActivityName=".Setting_Fragment" />
        <activity
            android:name=".Setting_Fragment_Gioithieu"
            android:label="                 Giới thiệu"
            android:parentActivityName=".Setting_Fragment" />
        <activity
            android:name=".phoneSignActivity"
            android:label="Login"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".mailSignActivity"
            android:label="Login"
            android:parentActivityName=".LoginActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDsjz2m6HKo7dsxgzvZViPrMcFMHaSeRpU" />

        <activity
            android:name=".Hien_Review"
            android:label="                 Review"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".Oder_Food_Activity" />
        <activity android:name=".SeeOderFoodActivity" />
        <activity android:name=".InFo_Food_Activity" />
        <activity android:name=".ReadmoreActivity" />
        <activity android:name=".HistoryActivity" />
        <activity
            android:name=".Bao_XemChiTiet"
            android:label="" />
        <activity android:name=".Setting_Setup_Database"></activity>


        <activity android:name=".XemDoHangActivity" />
        <activity android:name=".BillActivity"></activity>
        <activity android:name=".HocNauAnActivity" android:label="Học Nấu Ăn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Them_mon_an"></activity>
        <activity android:name=".YoutubeActivity" android:label="Học Nấu Ăn Qua Video">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PlayVideoActivity" android:label="Học Nấu Ăn Qua Video"></activity>



    </application>

</manifest>